.reveal table tr {
  font-size: 1.6rem;
} 

.reveal h1 {
  font-size: 4rem;
}

.reveal h2 {
  font-size: 3rem;
}

.reveal h3 {
  font-size: 2.7rem;
}


.reveal .slides {
  width:1200px;
  text-align:left;
}
.reveal ol, ul {
  display: inline;
}


.reveal li {
  font-size: 2rem;
}

.reveal .mydata{
  text-align: left;
  float:left;
  font-size: 1.5rem;
  margin: 1rem;
}

