.reveal table tr {
  font-size: 1.6rem;
} 

.reveal h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

.reveal h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.reveal h3 {
  font-size: 2.7rem;
  line-height: 3.0rem;
}

.reveal h4 {
  font-size: 1.7rem;
  line-height: 3.0rem;
  color: #616161;
  margin: -18px 0 15px 35px;
  text-transform: none;
  font-weight: lighter;
  font-style: italic;
}


.reveal .slides {
  text-align:left;
}

.reveal .mydata{
  text-align: left;
  float:left;
  font-size: 1.5rem;
  margin: 1rem;
}

.reveal em{
  font-style: normal;
  font-weight: bold;
}

.reveal strong{
  color: #ff0000;
}

.reveal .imgnonfloat{
  width:1.2rem;
  display:inline;
  margin:0;
  float:none;
}


.reveal blockquote{
  font-family: 'Times New Roman', Times, serif;
}


.reveal section img{
  border-width: 0px;
  box-shadow: none;
  /*max-width: 20vw;*/
  max-width: 40%;
  float:right;
}

.reveal ul, ol{
  float:left;
  display: inline-block;
  box-sizing: border-box;
  max-width: 55%;
  font-size:12px;
  border:0px solid black;
}

.reveal li {
  font-size: 2rem;
  line-height: 3.0rem;
}

.reveal .fullsize{
  width:90vw;
}

/*.reveal blockquote::before{
  content: "\201C";
  content: "\201E";

  font-family: Georgia, serif;
  font-size: 50px;
  font-weight: bold;
  color: #999;
  
  position: absolute;
  left: -25px;
  top:23px;
}

.reveal blockquote::after{
  content: "";
  content: "\201C";
  

  font-family: Georgia, serif;
  font-size: 50px;
  font-weight: bold;
  color: #999;

  position: absolute;
  right: 5px;
  bottom:20px;
}
*/